[Unit]
Description=BESS Digital Twin - OPC UA Bridge
Documentation=https://github.com/fortuechip-automation/bess-digital-twin
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
User=fox
Group=fox
WorkingDirectory=/home/fox/bess-digital-twin
ExecStart=/home/fox/bess-digital-twin/start_opc_bridge.sh
Restart=always
RestartSec=5
StandardOutput=append:/home/fox/bess-digital-twin/opc_bridge.log
StandardError=append:/home/fox/bess-digital-twin/opc_bridge.log

[Install]
WantedBy=multi-user.target
